@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Rock+Salt&display=swap");
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: gold;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 40px;
    font-family: rock salt;
    color: gold;
}
.info{
    font-size: 20px;
    width: 700px;
    border-radius: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    margin: 0 auto;
}


.perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYwRtXAJCZtVSTu93qquYL4wTJWxa-UFmcvw&usqp=CAU");
}
.topico{
    display: flex;
    background-color: white;
    border: solid black;
}
img{
    height: 100px;
    width: 100px;
}

.contato{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}