 /*Cabeçalho*/
            
 header {
    display: block;
}

/*Menu*/

.menu {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(rgb(54, 53, 53), black);
    padding: 8px;
}

@keyframes animacao-logo1 {
    from {
        color: red;
        border: 2px solid white;
        border-radius: 50%;
        
    } to {
        border-radius: 50%;
        color: blue;
        border: 2px solid red;
        transition: 0.5s;
    }
}

.borda-logo {
animation: animacao-logo1 10s ease-in-out infinite;
}

@keyframes animacao-logo2 {
    from {
        color: blue;
        border: 2px solid red;
        border-radius: 50%;

    } to {
        color: red;
        border: 2px solid blue;
        transition: 0.5s;
        border-radius: 50%;
        transform: rotate(90);

    }
}

.logo {
    width: 80px;
    height: 80px;
    padding: 2px;
    background-color: white;
    animation: animacao-logo2 1s infinite;
}


.titulo-logo:hover {
    color: red;
    border: 2px solid red;
    transition: 0.5s;
}

.conjunto-opcoes-menu {
    border-radius: 8px;
    padding: 16px;
}


@keyframes animacao-opcaomenu {
    from {
        border: 1px inset black;
    } to {
        border: 1px inset goldenrod;
    }
}

.opcao-menu {
    animation: animacao-opcaomenu 10s ease-out infinite;
    padding: 16px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
}

.opcao-menu:hover {
    background-color: goldenrod;
    color: black;
    opacity: (40%);
    transition: 0.5s;
}


/*Trecho escrito "Quem Somos"*/
body{
    background-image: url(https://img.freepik.com/fotos-gratis/fundo-de-papel-de-parede-de-barbeiro-com-ferramentas-conceito-de-trabalho-e-carreira_53876-148092.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: cover;
}

.textoCentralizado{
    text-align: center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box a{
    text-decoration: dashed;
    height: auto;
}

.sobreNos{
    padding-top: 30px;
    padding-bottom: 100px;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-shadow: 3px 3px 3px goldenrod;
    font-size: 50px;
}

.nota{
    padding: 5px;
}

.texto{
    padding-bottom: 100px;
    width: 890px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 30px;
    letter-spacing: 0.5px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.textoLink{
    color: goldenrod;
}
.textoLink:hover{
    font-size: 35px;
    transition: 00.5s;
}

.botao{
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px goldenrod;
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-decoration: dashed;
}

.botao:hover{
    height: 120px;
    width: 120px;
    color: white;
    background-color: goldenrod;
    text-shadow: black;
    transition: 0.5s;
}

/*Trecho fotos com legenda*/
.espaço{
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    background-image: url("https://diaonline.ig.com.br/wp-content/uploads/2020/06/barbearia-em-jatai-opcoes-com-servicos-da-mais-alta-qualidade.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.fotoEdescriçao{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fotos{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px;
}

.fotos:hover{
    height: 450px;
    width: 450px;
    border-radius: 10px;
    transition: 00.5s;
}


.descriçao{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
    text-shadow: 3px 3px 3px black;
}

/*Trecho mapas*/
.mapas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: white;
}

.borda{
    border-radius: 8px;
}

.localizaçao{
    height: 310px;
    width: 1310px;
    border: solid; color: black;
}

.locs{
    height: 300px;
    width: 1300px;
    border: solid; color: goldenrod;
}

.mapaBox{
    padding: 2px;
    position:relative;
    text-align:center;
    overflow:hidden;
    background:none!important;
}

iframe{
    width: 400px;
    height: 200px;
}

/*Legenda dos mapas*/
.unidades{
    font-size: 20px;
    color: black;
}

.endereço{
    font-size: 12px;
    color: black;
}

/*Trecho Rodapé*/
.rodape{
    color: white;
    font-family: 'Oswald', sans-serif;
    background-color: black;
    background-size: auto, 100vw;
}

.logoRodape{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
